body {
    color: #777;
    margin: 10px 10px 10px 10px;
    font-size: 16px;
}
input {
    background-color: white;
    border-style: outset;
    border-color: black;
}
button{
    background-color: silver;
}
